.places h1 {
    font-size: 30px;
}

.places article {
    position: relative;
    display: inline-block;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    text-align: center;
}

.places article h2 {
    display: inline-block;
}

.places article > h2 {
    font-size: 30px;
}

.places article:last-child {
    position: relative;
    left: 237px;
}
